<section id= "about">
	<div class= "container">
		<div class= "row text-center"> 
			<div class= "col-lg-8 col-lg-offset-2">
				<h2> About Haathi </h2>
				<hr class= "light" %>
				<p> 
					Your website should grow with you. Often the biggest part of becoming part of the on line community is getting started.
					We like to learn with you, starting with some fundamentals and experimenting along the way. 
				</p>
			</div>
		</div> 
		<div class= "row text-center">
			<div class= "col-md-4">
				<p><span class= "fa fa-lightbulb-o fa-4x" </span></p>
				<h3>Goal Setting</h3> 
				<p> 
					We start with a guided review of goals, aspirations. Strong tomorrow means building the inroads today. By focusing on who what and why, we have a viable product in mind. 
				</p>
			</div>
			<div class= "col-md-4">
				<p><span class= "fa fa-laptop fa-4x" </span></p>
				<h3>Code</h3>
				<p>
					Using Ruby on Rails, HTML, JavaScript, JQuery, and more, we a website up and running quickly and begin focusing on content creation and usability. The fun begins here.
				</p>
			</div>
			<div class= "col-md-4">
				<p><span class= "fa fa-graduation-cap fa-4x" </span></p>
				<h3>Feedback</h3>
				<p>
					After we build something, we all learn, review, look at iterating features. A good application grows with it's community of users. After learning we begin the process again. 
			</div>
		</div>
	</div>
</section>