<div class = "container">

		<div class= "row text-center"> 
			<div class= "col-lg-8 col-lg-offset-2">
				<h2> About Haathi </h2>
				<hr class= "light" %>
				<p> 
					 Hi, I'm Laurie. Haathi is my company, operating since 2002. Haathi is inspired by the elephant for its steadfast long journey to abundance. After hiding away at my computer teaching myself to code, I hope to show you some of my projects and tell you more.
				</p>
				<p> 
					A functional web application grows with its community of users. Often the biggest part of becoming part of the online community is getting started. Once there, the discovery process provides new insights for content and functional value. While learning along the way, beginning with the fundamentals, interesting ideas will inspire new challenges along the way.
				</p>
				<p> 
				 	Here's to exploring a world of abundance and prosperity. <br> 
				 	Welcome to Haathi. 
				</p>
			</div>
		</div> 
		<div class= "row text-center">
			<div class= "col-md-4">
				<p><span class= "fa fa-lightbulb-o fa-4x" </span></p>
				<h3>Lean Canvas</h3> 
				<p> 
					Exploring the business model. A lot goes into making an idea to reality. The art is in the execution. Lean canvas is a great tool that starts with as little as 20 minutes to sketch an idea in an explorable concept. Don't worry, it's iterative. That's the fun part. 
				</p>
			</div>
			<div class= "col-md-4">
				<p><span class= "fa fa-laptop fa-4x" </span></p>
				<h3>Code</h3>
				<p>
					I create an application on a website with a database behind it and get it up and running quickly. Most people learn when they see a product. By creating something that can be used to collect content, and become a platform, the website becomes a personalized portal. 
				</p>
			</div>
			<div class= "col-md-4">
				<p><span class= "fa fa-graduation-cap fa-4x" </span></p>
				<h3>Learn</h3>
				<p>
					This is the growth part. Explore, build, talks, engage others. Each of my projects are built on learning quests. I begin with basic site, and a list of functions and keep adding to build a platform that has meaning to a community of users. 
				</p>
			</div>
		</div>	
</div>



