<section id= "about">
	<div class= "container">
		<div class= "row text-center"> 
			<div class= "col-lg-8 col-lg-offset-2">
				<h2> About Haathi </h2>
				<hr class= "light" %>
				<p> 
					Hi, I'm Laurie. Haathi is my company, operating since 2002. Haathi is named afer elephants because they are steadfast and follow long journeys toward abundance. After mmany years working as a project manager, process and strategy person, I decided to stop and spend time learning code. I hope to show you some of my projects and tell you more.
				</p>
				<p> 
					I believe a web application is part of the family and should grow with its community of users. Often the biggest part of becoming part of the on line community is getting started. Once your there, there is so much to check out.
				 	I like to learn with you, starting with fundamentals and trying interestings challenges along the way.
				 	<p> 
				 	Here's to a word of abundance and prosperity. Welcome to Haathi. 
				</p>
			</div>
		</div> 
		<div class= "row text-center">
			<div class= "col-md-4">
				<p><span class= "fa fa-lightbulb-o fa-4x" </span></p>
				<h3>Goal Setting</h3> 
				<p> 
					Goals, aspirations, plans can sound mundane. By focusing on who what and why, we have a viable product in mind. This is the time to dream in color.
				</p>
			</div>
			<div class= "col-md-4">
				<p><span class= "fa fa-laptop fa-4x" </span></p>
				<h3>Code</h3>
				<p>
					Using Ruby on Rails, HTML, JavaScript, JQuery, and more, we a website up and running quickly and begin focusing on content creation and usability. The fun begins here.
				</p>
			</div>
			<div class= "col-md-4">
				<p><span class= "fa fa-graduation-cap fa-4x" </span></p>
				<h3>Feedback</h3>
				<p>
					After we build something, we all learn, review, look at iterating features. A good application grows with it's community of users. After learning we begin the process again. 
			</div>
		</div>
	</div>
</section>