<div class = "container">

		<div class= "row text-center"> 
			<div class= "col-lg-8 col-lg-offset-2">
				<h2> About Haathi </h2>
				<hr class= "light" %>
				<p> 
					 Hi, I'm Laurie. Haathi is my company, operating since 2002. Haathi is inspired by the elephant for its steadfast long journey to abundance. After hiding away at my computer teaching myself to code, I hope to show you some of my projects and tell you more.
				</p>
				<p> 
					A functional web application grows with its community of users. Often the biggest part of becoming part of the online community is getting started. Once there, the discovery process provides new insights for content and functional value. While learning along the way, beginning with the fundamentals, interesting ideas will inspire new challenges along the way.
				</p>
				<p> 
				 	Here's to a world of abundance and prosperity. Welcome to Haathi. 
				</p>
			</div>
		</div> 
		<div class= "row text-center">
			<div class= "col-md-4">
				<p><span class= "fa fa-lightbulb-o fa-4x" </span></p>
				<h3>Goal Setting</h3> 
				<p> 
					Goals, aspirations, plans can sound mundane. By focusing on who what and why, we have a viable product in mind. This is the time to dream in color.
				</p>
			</div>
			<div class= "col-md-4">
				<p><span class= "fa fa-laptop fa-4x" </span></p>
				<h3>Code</h3>
				<p>
					Using Ruby on Rails, HTML, JavaScript, JQuery, and more, we a website up and running quickly and begin focusing on content creation and usability. The fun begins here.
				</p>
			</div>
			<div class= "col-md-4">
				<p><span class= "fa fa-graduation-cap fa-4x" </span></p>
				<h3>Learn</h3>
				<p>
					After we build something, we all learn, review, look at iterating features. A good application grows with it's community of users. After learning we begin the process again. 
				</p>
			</div>
		</div>	
</div>



