<aside class="bg-parallax-dark nopadding" style="background-image: url(<%=asset_path 'elephants.jpg' %>); data-steller-background-ratio="0.5">
	<div class="aside-overlay">
		<div class="container">
			<div class= "row text-center">
				<div class= "col-lg-8 col-lg-offset-2">
					<h2>Learning and Building with Intention </h2>
					<hr class="light">
					<p>Like the elephants, how many of us go through life hanging onto a belief that we cannot do something, simply because we failed at it once before? We believe in the power within, dreaming and moving forward<p>
					<%= link_to "Contact Me", root_path(:anchor =>"contact") , class: "btn btn-outline btn-light btn-lg" %>
				</div>
			</div>
		</div>
	</div>
</aside>