
	<div class="container">
		<div class= "row text-center">
			<h2> Working On </h2>
			<hr class= "primary">
			<div class= "row">
				<div class= "col-md-4"> 
					Start Ups 
				</div>
				<div class= "col-md-4"> 
					Developers Learning Code
				</div>
				<div class= "col-md-4"> 
					Small OnLine Businesses 
				</div>
		</div>
	</div>
