<section id= "contact" class= "contact" %>
	<div class = "container" >
		<div class= "row">
			<div class= "col-lg-6">
			<h2 >Well Hello There</h2>
				<p> 
					Great to talk to you. Reaching out is a good thing. Who know where it takes you?
					I hope this gives you some ideas. Over time I will be making lots of changes to the site.
					Your feedback and questions are welcome. 
				</p>
				<p>
					Say hello, ask a question, start a conversation.  
				</p>
			</div>
			<div class= "col-lg-5 col-lg-offset-1">
			
			<%= render "contacts/form" %>
			</div>
		</div>
	</div>
</section>