
	<div class = "container">
		<div class= "row">
			<div class = "col-md-12">
				<%= render "layouts/flash_messages" %>
			</div>
		</div>
		<div class= "row text-center">
			<h2 >Well Hello There</h2>
			<p> 
				Great to talk to you. Reaching out is a good thing. Who know where it takes us?
				Your feedback and questions are welcome. 
			</p>
			<p>
				This is a brand new portfolio so it's very basic. 
				Over time I will be making updates.
			</p>														
	  </div>
	  <div class = "row">
	  <div class = "col-md-offset-2 col-md-8"
	 	<div class = "container">
	 		
				<%= render 'contacts/form' %>
	 
	 </div>
	</div>
	</div>
	</div>
