

          <div class="owl-carousel owl-theme">
            <div class="item">
              <%= image_tag("dawid-zawila-221021.jpg") %>
            </div>
            <div class="item">               
              <%= image_tag("benedicto-de-jesus-118405.jpg") %>
            </div>
            <div class="item">
              <%= image_tag("jonathan-bean-40734.jpg") %>
            </div>
            
            
            
          </div>
       