<section id= "about">
<%= render "welcome/about" %>
</section>
<section id= "projects">
<%= render "welcome/projects" %>
</section>

<section id= "contact" class= "contact">
	<%= render "welcome/contact"  %>
</section>







