<% provide(:title, 'Contact Us') %>
<div id="contact" class="text-left">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class= "panel-heading">
          <h2>Contact Us</h2>
        </div>
        <div class= "panel-body">
          <%= render "contacts/form", contact: @contact %>
          </div>
      </div>
    </div>
  </div>
</div>