<% provide(:title, "new showcase") %>
<div class= "container text-left" id="new_showcase">
  <div class= "row">
    <div class= "col-md-8 col-offset-2">
      <div class= "panel panel-default">
        <div class= "panel-heading">
          <h1> <%= current_user.name %>'s showcase</h1>
        </div>
        <div class= "panel-body">
          <%= render 'form', showcase: @showcase %>
        </div>
        <div class = "panel-footer">
  
        </div>
      </div>
    </div>
  </div>
</div>