.contact {



	form{
		.floating-label-form-group {

			border: 1px solid $dark;
			position: relative;
			margin-botton: 0.3em;
			input, 
			textarea {
				z-index: 1;
				positiong: relative;
				padding-right: 0;
				padding-left: 0;
				font-size: 1.5em;
				background: none;
				box-shadow: none !important;
				resize: none;
				border: none;
		
			}
			&:not(:first-child) {
				padding-left: 14px;
			}
		}
		.floating-label-form-group-with-value {
			label {
				top:0;
				opacity: 1;
			}
		}
		.floating-label-form-group-with-focus {
			label {
				color: $primary;
			}
		}
		.foating-label-form-group {
			border-bottom: 1px solid $dark;
			&:not(:first-child) {
				border-left: 1px solid $dark,;
			}
			.form-control {
				color: $dark;
			}
		}
		.row:first-child .floating-label-form-group {
			border-top: 1px solid lighten($dark, 10%);
		}
	}
	::input-placeholder {
		color: $dark !important;
	}

	::-moz-input-placeholder {
		color: $dark, 10% !important;
	}

	::-webit-input-placeholder {
		color: $dark, 10% !important;
	}

	::-ms-input-placeholder {
		color: $dark, 10% !important;
	}
	
}
