

body {
	height: 100%;
	color: $dark;;
	background-color: $canvas;
	background-size: cover;
}

html {
	height: 100% !important;
	-ms-overlow-style: scrollbar;
}

#wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

img {
	-webkit-backface-visibility: hidden;
	width: auto\9;
	height: auto;
	max-width: 100%;
	verticl-align: middel;
	border: 0;
	-ms-interpolation-mode: bicubic;
}

section,
aside { 
	padding: 50px 0;
}


@media(min-width: 767px) {
	section {
	padding: 100px 0;
	}
}

.well {
	border: none;
	box-shadow: none;
	background-color: darken($light, 3%);
}

.jumbotron {
	background-color: lighten($light, 3%);
}

.page-header {
	border-bottom-color: darken($light, 10%)
}

.img-light-border {
	border: 5px solid $light;
}

.img-dark-border {
	border: 5px solid $dark;
}

.light-faded-border {
	border: solid 15px fade($light, 50%)
}

.dark-faded-border {
	border: solid 15px fade($dark, 50%)
}

.img-centered {
	margin: 0 auto;
}

.nopadding {
	padding: 0;
}

.nomargin {
	margin: 0
}

.padding-top {
	padding-top: 100px;
}

.padding-bottom {
	padding-bottom: 100px;
}

::-moz-selection {
	text-shadow: none;
	background: fade($primary, 50%);
}

::selection {
	text-shadow: none;
	background: fade($primary, 50%);
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

body {
	webkit-tap-hightlight-color: fade(primary, 50%);
}

.modal-dialog {
	margin: 0;
	border-radius: 0;
	width: 100%;
	height: 100%;
}

.modal-content {
	border-radius: 0;
	background-clip: border-box;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	min-height: 100%;
	}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
 
  .form-control {
    color: $danger;
  }
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}
  
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.hidden {
	display: none; 
}

