.footer {

	.lower {
		padding: 15px 0;
		background-color: lighten($lilac, 20%);
		.small {
			color: fade($light, 70%);
		}
	}
	.footer-link {
		padding: 0 5px;
		margin: 0;
	}

}

@media(max-width:990px) {
	.footer {
		text-align: center;
	}
}