.intro-dark-bg {
	color: $light; 
}

.intro-light-bg {
	color: $dark;
}


.btn-scroll-light {
	font-size: 30px;
	background: transparent;
	height: 55px;
	width: 55px;
	
	line-height: 45px;
	@include button-transition;
	color: $light;
	
	&:hover, 
	&:focus,
	&:active {
		color: $light;
		background: fade($light, 20%);
	}
	&:hover, 
	&:focus,
	&:active {
		outline: none;
	}
}

.intro-slider {
	background-color: black;
	width: 100%;
	text-align: center;
	padding: 0;
	height: auto;
	.carousel{
		height: 100%;
			h4: {
				font-size: 22px;
			}
	}
	.carousel-inner {
		height: 100%;
	}
	.carousel-caption {
		width: 100%;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 0;
	}
	.item {
		height: 100%;
	}
	.fill {
		width: 100%;
		height: 100%;
		background-position: center;
		@include background-cover;
	}
	.brand-heading {	
			font-size: 30px;
			margin: 0;
			@include heading-font;
			@include text-shadow-dark;
			text-transform: uppercase;
	}
	.brand-sub-heading {	
			font-size: 16px;
			margin: 0;
			@include heading-font;
			@include text-shadow-dark;
			text-transform: uppercase;
	}
	.intro-body {
		position: relative;
		top: 0;
		margin-top: -25px;
	}
	.overlay {
		display: none;
	}
}


@media(min-width: 768px) {
.btn-scroll-light {
	margin-top: 60px;
	font-size: 55px;
		}
.intro-slider{
	
	.carousel-caption {
		width: auto;
		right: 0;
		left: 0;
		top: 30%;
		bottom: 0;
	}
	.carousel {
		h4 {
			font-size: 26px;
			height: auto;
		}
	}
	.brand-heading {	
		font-size: 55px;
		letter-spacing: 10px;
		font-weight: 900;
		padding-top: 5%;
		padding-bottom: 20px;
		
			}
	.brand-sub-heading {	
		font-size: 30px;
		letter-spacing: 15px;
		font-weight: 600;
		
			}
	.intro-body {
		postion: absolute;
		top: 0;
		}

		
	.overlay {
    display: block;
		width: 100%;
		background-color: $dark;
		opacity: 0.3;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
    }
	}		
}

#tag_cloud {
  @include sans-serif-font;
  width: 400px;
  line-height: 1.5em;
  .s { font-size: 0.33em; }
  .m { font-size: 0.66em; }
  .l { font-size: 1em; }
}


@media(min-width:1025px) {
	intro-slider {
	.brand-heading {
	font-size: 70px;
	}
	.brand-subheading {
	font-sizer: 50px;
		}
	}

	.intro-img-half {
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	@include background-cover;
	}

}

@media only screen and (min-width: 768px) {
	.intro-slider {
		padding: 0;
		height: 100%;
		min-height: 0;
		.overlay {
		height: 100%;
		}

	}
}