.project_list {

	max-width: 600px; 
	margin: 0 auto;

	.screen {
	display: block;
	border: 10px solid black;
	border-radius: 8px;
	position: relative;	

		}

	.keyboard {
		display: block;
		margin-top: -5px;
		position: relative;
	}	
}

@media(min-width: 767px) {
	.project-list {
		margin-bottom: 30px;	
	}
}

