
$dark: #000;
$light: #FFF;
$success: #00f649;
$primary: #C9BFBD;
$info: #037CC1;
$warning: #F2BF02;
$danger: #DD0508;

$border: #333333;
$canvas: #D0C5B3;
$snow: #F5ECDD;
$ice: #CAD6C2;
$lilac: #C9BFBD;
$purple: #C9BFBD;
$red: #C9BFBD;
$hot_pink: #F600AD;


$white_one: #EEFCE5;
$white_two: #F8F7E5;
