
$dark: #3e444d;
$light: #f4f5f7;
$success: #2ecc71;
$primary:#F8522F;
$info: #A58EA2;
$warning: #C9BFBD;
$danger: #F600AD;

$border: #333333;
$canvas: #CCC;
$snow: #F5ECDD;
$ice: #CAD6C2;
$lilac: #C9BFBD;
$purple: #A58EA2;
$red: #F8522F;
$hot_pink: #F600AD;


$white_one: #EEFCE5;
$white_two: #F8F7E5;
