<footer class="footer">
  <div class="lower">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
         <span class="small">Copyright &copy; <span id="year"><%= Date.today.year %></span> - Haathi Consulting Inc. All Rights Reserved.</span>

        </div>
        
        <div class="col-md-3">
          
          <ul class="list-unstyled footer-links">
            <li>
             
            </li>
            <li>
                
            </li>
          </ul>
        </div>
        <div class="col-md-3 text-center">

        	<%= link_to new_contact_path do %> 
           
            <%= image_tag "haathi_log.png", class: "footer-image", alt: "creative calgary" %>
          <% end %>   
          
            
        </div>
      </div>
    </div>
  </div>
 
</footer>