<div id="slideshow-carouself-1" class="carousel slide carousel-fade intro-slider" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      
      <%= image_tag "dawid-zawila-221021.jpg",  class: "fill"%> 
    
      <div class="overlay"></div>

      <div class = "carousel-caption"> 
        <div class= "intro-body">
          
          <h1 class= "brand-heading">Haathi</h1>
          <h2 class= "brand-sub-heading">Community Websites</h2>
         
          
          <div>
            <a href="#about" class="btn btn-scroll-light sink">
              <i class= "fa fa-angle-down "></i>
            </a>
          </div>
        </div>
       
      </div>
    </div>
    <% @showcases.each do |showcase| %>
    <div class="item">
      <%= image_tag showcase.image.url, class: "fill" %> 

      <div class="overlay"></div>
      <div class = "carousel-caption"> 
        <div class= "intro-body">
          <h1 class= "brand-heading">Haathi </h1>
          <h2 class= "brand-sub-heading">Community Websites</h2>
          
          <div>
            <a href="#about" class="btn btn-scroll-light sink">
              <i class= "fa fa-angle-down "></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>  
</div>

