<header class="carousel slide carousel-fade intro-slider" data-ride="carousel">
  <div class="carousel-inner" role= "listbox">
    <div class="item active">     
    <div class="fill" style="background-image: url(<%=asset_path 'dawid-zawila-221021.jpg', {class: "img-responsive", alt: "haathi-consulting community websites"} %>);"></div>
      <div class="overlay"></div>
      <div class = "carousel-caption"> 
        <div class= "intro-body">
          <%= render 'layouts/flash_messages' %>
          <h1 class= "brand-heading">Haathi</h1>
          <h2 class= "brand-sub-heading">Community Websites</h2>
          <div>
            <a href="#about" class="btn btn-scroll-light sink">
              <i class= "fa fa-angle-down "></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% @showcases.each do |showcase| %>
    <div class="item">
   <div class="fill" style="background-image: url(<%=asset_path showcase.image_url, {class: "img-responsive", alt: "haathi-consulting community websites"} %>);"></div>
      
      <div class="overlay"></div>
      <div class = "carousel-caption"> 
        <div class= "intro-body">
          <%= render 'layouts/flash_messages' %>
          <h1 class= "brand-heading">Haathi </h1>
          <h2 class= "brand-sub-heading">Community Websites</h2>
          <div>
            <a href="#about" class="btn btn-scroll-light sink">
              <i class= "fa fa-angle-down "></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% end %>  
  </div>  
</header>




