<header 
  <div class="intro-img-half intro-dark-bg" style="background-image: 
  url(<%=asset_path "nikolas-behrendt-224067.jpg", {class: "img-responsive", alt: "haathi-consulting community websites"} %>);"></div>
  <div class="overlay"></div>
</header>

