<div id="slideshow-carouself-1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "tim-mossholder-2442.jpg",  class: "img-responsive bg-item parallax"%>  
      <h1> Full Stack </h1>
      <h2> Creative Websites </h2>
    </div>
    <div class="item">
      <%= image_tag "dawid-zawila-221021.jpg", class: "img-responsive bg-item parallax" %> 
      <h1> Full Stack </h1>
      <h2> Creative Websites </h2> 
    </div> 
    <div class="item">
      <%= image_tag "tim-mossholder-2442.jpg", class: "img-responsive bg-item parallax" %> 
      <h1> Full Stack </h1>
      <h2> Creative Websites </h2> 
    </div>
  </div>  
</div>

