<div id="slideshow-carouself-1" class="carousel slide carousel-fade intro-slider" data-ride="carousel" data-interval="10000">
  <!-- Indicators -->
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      
      <%= image_tag "tim-mossholder-2442.jpg",  class: "fill"%> 
      <div class="overlay"></div>
      <div class = "carousel-caption"> 
        <div class= "intro-body">
          <%= render 'layouts/flash_messages' %>
          <h1 class= "brand-heading">Haathi</h1>
          <h2 class= "brand-sub-heading">Community Websites</h2>
          
          <div class= "page-sroll" data-scrollreview="enter bottom after .6s">
            <a href="#about" class="btn btn-scroll-light sink">
              <i class= "fa fa-angle-down fa-5x text-light"></i>
            </a>
          </div>
        </div>
       
      </div>
    </div>
    <div class="item">
      <%= image_tag "dawid-zawila-221021.jpg", class: "fill" %> 
      <div class="overlay"></div>
      <div class = "carousel-caption"> 
        <div class= "intro-body">
          <h1 class= "brand-heading">Haathi </h1>
          <h2 class= "brand-sub-heading">Community Websites</h2>
          
          <div class= "page-sroll" data-scrollreview="enter bottom after .6s">
            <a href="#about" class="btn btn-scroll-light sink">
              <i class= "fa fa-angle-down fa-5x text-light"></i>
            </a>
          </div>
        </div>
      </div>
    </div> 
    <div class="item">
      <%= image_tag "tim-mossholder-2442.jpg", class: "fill" %> 
      <div class="overlay"></div>
      <div class = "carousel-caption"> 
        <div class= "intro-body">
          <h1 class= "brand-heading">Haathi </h1>
          <h2 class= "brand-sub-heading">Community Websites</h2>
         
          <div class= "page-sroll" data-scrollreview="enter bottom after .6s">
            <a href="#about" class="btn btn-scroll-light sink">
              <i class= "fa fa-angle-down fa-5x text-light"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

