<div class= "navbar navbar-light navbar-fixed-top font-weight-normal" role="navigation">
	<div class= "container">
		<div class= "navbar-header page-scroll">
			<button type= "button" class= "navbar-toggle" data-toggle= "collapse" data-target=".navbar-main-collapse">
				<i class- "fa fa-bars"> <i>
			</button>
			
				<span class= "logo" id= "Haathi">
					<%= link_to root_path do  %>
						haathi
						<% end %>
								
				</span>
		
		</div>
		<div class= "collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class= "nav navbar-nav">
				<li class="hidden">
					<a href= "#page-top"> </a>
				</li>
				<li class= "page-scroll">
					<a href= "about">About</a> 
				</li>
				<li class= "page-scroll">
					<a href= "projects"> Project</a> 
				</li>
				<li class= "page-scroll">
					<a href= "get started">Get Started</a> 
				</li>
				<li class= "page-sroll">
					<a href= "contact">Contact</a>
				<li>
			</ul>
		</div>
	</div>
</div>

