<!DOCTYPE html>
<html lang="en">
 <%= render 'layouts/head'%>
  <body id="page-top"  data-target=".navbar-fixed-top"> 
		  <%= render 'layouts/nav' %>
		  <%= render 'layouts/header' %> 
   		<%= yield %>    
 </body>
</html>
