<!DOCTYPE html>
<html>
	<%= render "layouts/head" %>
	<%= render "layouts/shim" %>
  <body id = "page-top" data-spy="scroll" data-target= ".navbar-fixed-top">
  	<div id= "wrapper">
  		<%= render "layouts/nav" %>
      
			

			
    	<%= yield %>
    
    </div>
  </body>
</html>
