<!DOCTYPE html>
<html lang="en">
 <%= render 'layouts/head'%>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
   <%= render 'layouts/nav' %>
   <% unless user_signed_in? %>
    <%= render 'layouts/header' %>
   <% end %>
   <%= yield %>   
 </body>
</html>
